@using NewLife.Common;
@{
    var user = ViewBag.User as IUser ?? User.Identity as IUser;
    var fact = ViewBag.Factory as IEntityFactory;
    var set = ViewBag.PageSetting as PageSetting;
}
@if (set.EnableSelect)
{
    <button type="button" class="btn btn-purple btn-sm" data-action="action" data-url="@Url.Action("SetIn")" data-fields="keys" disabled>
        入库
    </button>
    <button type="button" class="btn btn-purple btn-sm" data-action="action" data-url="@Url.Action("CancelIn")" data-fields="keys" disabled>
        取消入库
    </button>
    <button type="button" class="btn btn-purple btn-sm" data-action="action" data-url="@Url.Action("Fix")" data-fields="keys" disabled>
        修正
    </button>
}