@using Erp.Data.Purchases
@using NewLife.Common;
@using NewLife.Cube
@using XCode
@{
    var user = ViewBag.User as IUser ?? User.Identity as IUser;
    var fact = ViewBag.Factory as IEntityFactory;
    var set = ViewBag.PageSetting as PageSetting;
    var page = ViewBag.Page as Pager;

    var order = PurchaseOrder.FindById(page["orderId"].ToInt(-1));
}
@if (order != null)
{
    <a href="/Purchases/PurchaseOrder?id=@order.Id" title="返回">@order</a>
}
@*<button type="button" class="btn btn-purple btn-sm">
    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
    自定义按钮
</button>*@